<section id="welcome" class="welcome container">
  <div class="text">
    <img src="/images/2023/homepage.jpg" alt="Kiwa Logo" />
  </div>
</section>

<style>
  #welcome {
    margin-top: -90px;
  }
</style>
