---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ImagePreviewModal from "../components/ImagePreview.astro";
import BackToTop from "./BackToTop.astro";
// import "../styles/global.css";

/* SEO props with defaults */
const {
  title = "Kiwa PVEL PV Module Reliability Scorecard",
  description = "The 11th Edition of Kiwa PVEL’s PV Module Reliability Scorecard recognizes manufacturers with excellent test results in the PV Module Product Qualification Program.",
  canonical = "https://scorecard.pvel.com/",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- SEO -->
     
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />

    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Work Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="preload"
      href="/fonts/AzoSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/AzoSans-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/AzoSans-BoldItalic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <ImagePreviewModal />
    <Footer />
    <BackToTop/>
  </body>
</html>
