---
import { getLang } from "../../../i18n/useLang";
import en from "../../../i18n/ln.json";      // English
import zh from "../../../i18n/ln-eg.json";   // Chinese

const lang = getLang(Astro);
const data = lang === "zh" ? zh : en;
---

<section class="hero">
    <!-- Background image -->
    <img
        src="/images/Key-Takeaways-4.jpg"
        alt={data.panherobannerimage_alt}
        class="hero-bg"
    />

    <!-- Blue overlay -->
    <div class="hero-overlay"></div>

    <!-- Content -->
    <div class="hero-content">
        <h1>
            {data.panherobanner_title1} <br />
            <span class="heat">{data.panherobanner_title2}</span>
        </h1>
        <p>
            {data.panherobanner_description}
        </p>
    </div>
</section>
